{% extends 'base.html' %}
{% block body %}
    <style>
        body { background: #808080; }
    </style>
    {% load staticfiles %}
    <link href={% static "css/main.css" %}>
    <div id="wrapper">
        <div class="container">
            <section style="padding-bottom: 50px; padding-top: 50px;">
                <div class="row">
                    <div class="col-md-4 farsi-font" style="float: right;">
                        <img src="../static/images/{{ picture }}" />
                        <form role="form" action="" method="POST">{% csrf_token %}
                            <br />
                            <br />
                            <label for="event_info"id="info">ویرایش تصویر</label>
                            <input id="file-4" name="file-4[]" type="file" multiple>
                            <script>
                                $(document).on('ready', function() {
                                    // the file input
                                    var $el = $('#file-4'), initPlugin = function() {
                                        $el.fileinput({
                                            uploadUrl: '/site/file-upload-single?type=1',
                                            uploadExtraData: {kvId: '10'},
                                            dropZoneEnabled: false
                                        }).off('filepreupload').on('filepreupload', function() {
                                            alert("Initial pre-upload message!");
                                        });
                                    };
                                });
                            </script>
                            <label>نام کاربری</label>
                            <input type="text" class="form-control"  name="usr" placeholder={{username}} disabled>
                            <label>نام</label>
                            <input type="text" class="form-control"  name="name" placeholder={{ name }}>
                            <label>نام خانوادگی</label>
                            <input type="text" class="form-control"  name="lastname" placeholder={{ lastname }}>
                            <label>پست الکترونیکی</label>
                            <input type="email" class="form-control"  name="mail" placeholder={{ mail }}>
                            <br>
                            <br>
                            <input type="submit" class="btn btn-success" value="به روز رسانی تغییرات">
                            <br /><br/>
                        </form>
                    </div>
                    <div class="col-xs-4" style="float: right;">
                        <form role="form" action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group col-md-8 farsi-font">
                                <h3 class="farsi-font">تغییر رمز عبور</h3>
                                <label>رمز عبور قبلی</label>
                                <input type="password" name = "pass_old" class="form-control">
                                <label>رمز عبور جدید</label>
                                <input type="password" name="pass_new" class="form-control">
                                <label>تائید رمز عبور جدید</label>
                                <input type="password" name="pass_new_ver" class="form-control" />
                                <br>
                                <input type="submit" class="btn btn-success" value="تغییر رمز عبور">
                                <br>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </div>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <!-- /#wrapper -->

    <!-- Morris Charts JavaScript -->
    <script src="../static/js/plugins/morris/raphael.min.js"></script>
    <script src="../static/js/plugins/morris/morris.min.js"></script>
    <script src="../static/js/plugins/morris/morris-data.js"></script>

{% endblock body %}
