{% extends 'base.html' %}
{% block body %}
    {% load staticfiles %}
    <link href={% static "css/admin.css"%} rel="stylesheet" />
    <link href={% static "css/main.css"%} rel="stylesheet" />
    <style>
        body { background-color: lavender ; }
    </style>
    <div class="container"style="padding-bottom: 30%;padding-top: 80px;">
        <div class="panel panel-default farsi-font" style="font-size: 18px;background-color:ghostwhite;">
            <div style="text-align: center;" class="panel-heading"><h3 class="farsi-font">سبد خرید</h3></div>
            <div class="panel-body">
                <form role="form" action="/cart/" method="post">{% csrf_token %}
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th class="text-center">کاربر</th>
                            <th class="text-center">رویداد</th>
                            <th class="text-center">تعداد بلیت</th>
                            <th class="text-center">قیمت هر بلیت</th>
                            <th class="text-center">حذف</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cart in carts %}
                            <tr>
                                <td class="text-center"><a href="/user/{{ cart.user.user_id }}/">{{ cart.user.user.username }}</a></td>
                                <td class="text-center"><a href="/event/{{ cart.event.name }}">{{ cart.event.name }}</a></td>
                                <td class="text-center"><input type="number" style="max-width: 40px;" name="{{ cart.event.id }}" placeholder="{{ cart.number }}"></td>
                                <td class="text-center">{{ cart.event.ticket_price }}</td>
                                <td class="text-center"><a href="/cart-delete/{{ cart.event.id }}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <label class="farsi-font">قیمت کل</label>: <input type="text" value="{{ totalprice }}" disabled>
                    <input type="submit"class="btn btn-sm btn-success farsi-font" value="به روز رسانی">
                </form>
            </div>
        </div>
    </div>
{% endblock body %}