{% extends "base.html" %}
{% load staticfiles %}
<script src={% static "js/jquery-1.11.3.min.js"%}></script>
<script  src={% static "js/bootstrap.min.js" %}></script>
<link rel="stylesheet" href={% static "css/main.css" %}>
<link rel="stylesheet" href={% static "css/footer.css" %}>
<link rel="stylesheet" href={% static "css/header-search.css" %}>
<link rel="stylesheet" href={% static "css/header-login-signup.css" %}>
<link rel="stylesheet" href={% static "css/header-user-dropdown.css" %}>
<link rel="stylesheet" href={% static "css/admin.css" %}>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block body %}
    <style>
        body { background-color: lavender; }
    </style>
    <section style="padding-bottom: 30%;padding-left: 70px">
        <div class="container">
            <h2 class="farsi-font" >زیردسته ها</h2>
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="text-center farsi-font">زیردسته</th>
                    <th class="text-center farsi-font">نام زیردسته</th>
                    <th class="text-center farsi-font">عملیات</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center farsi-font"><button class="btn btn-primary" disabled>{{sub_type}}</button></td>
                    <form role="form" method="post" action="/my-admin/edit/{{id}}/">{% csrf_token %}
                        <td class="text-center farsi-font"><input type="text" name="0" placeholder="{{ sub_type }}"></td>
                        <td class="text-center farsi-font"><input class="btn btn-success" type="submit" value="ثبت"> <a href="/my-admin/edit/{{id }}/" class="btn btn-primary">تایید</a></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock body %}