{% extends "base.html" %}
{% load staticfiles %}
<script src={% static "js/jquery-1.11.3.min.js"%}></script>
<script  src={% static "js/bootstrap.min.js" %}></script>
<link rel="stylesheet" href={% static "css/admin.css" %}>
<link rel="stylesheet" href={% static "css/main.css" %}>
<link rel="stylesheet" href={% static "css/footer.css" %}>
<link rel="stylesheet" href={% static "css/header-search.css" %}>
<link rel="stylesheet" href={% static "css/header-login-signup.css" %}>
<link rel="stylesheet" href={% static "css/header-user-dropdown.css" %}>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block body %}
    <style>
        body { background-color: #c5c5c5; }
    </style>
    <section style="padding-top: 60px;padding-bottom: 30%;padding-left: 70px">
        <div class="container thumbnail">
            <h2 class="farsi-font" >رویداد ها</h2>
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="text-center farsi-font">شماره رویداد</th>
                    <th class="text-center farsi-font">نام رویداد</th>
                    <th class="text-center farsi-font">شروع رویداد</th>
                    <th class="text-center farsi-font">پایان رویداد</th>
                    <th class="text-center farsi-font">بلیت ها</th>
                    <th class="text-center farsi-font">قیمت بلیت ها</th>
                    <th class="text-center farsi-font">امتیاز رویداد</th>
                    <th class="text-center farsi-font">محل برگزاری</th>
                    <th class="text-center farsi-font">گزارش خرید</th>
                    <th class="text-center farsi-font">عملیات</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td class="text-center farsi-font"><a href="/my-admin/tickets/{{ event.id }}/" class="btn btn-default" >{{event.id}}</a></td>
                        <td class="text-center farsi-font">{{event.name}}</td>
                        <td class="text-center farsi-font">{{event.date}}</td>
                        <td class="text-center farsi-font">{{event.deadline}}</td>
                        <td class="text-center farsi-font">{{event.ticket_num}}</td>
                        <td class="text-center farsi-font">{{event.ticket_price}}</td>
                        <td class="text-center farsi-font">{{event.rate}}</td>
                        <td class="text-center farsi-font">{{event.place}}</td>
                        <td class="text-center farsi-font"><a href="/my-admin/buys/{{ event.id }}/" class="btn btn-success">گزارش خرید</a></td>
                        <td class="text-center farsi-font"><a href="/events-delete/{{ event.id }}/" class="btn btn-danger" >حذف</a> <a href="/edit-event/{{ event.id }}/" class="btn btn-primary" >ویرایش</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock body %}