<!DOCTYPE html>
{% extends "base.html" %}
{% block body %}
    <style>
        body { background-color: lavender; }
    </style>
    {% load staticfiles %}
    <title>اضافه کردن رویداد</title>
    <link rel="stylesheet" href={% static 'css/jquery-ui.css' %}>
    <script src={% static "js/jquery-ui.js" %}></script>

    <section style="padding-top: 80px; padding-bottom: 100px; padding-right: 450px;">
        <div class="row farsi-font">
            {% if admin %}
            <form role="form" action="/my-admin/add-event/{{ id }}/" method="post"> {% csrf_token %}
            {% endif %}
        {% if signed_in %}
        <form role="form" action="/event-add/{{ id }}/" method="post"> {% csrf_token %}
        {% endif %}
                <div class="col-xs-3" style="float: right;">
                    <div class="form-group">
                        <label for="event_daste">:دسته رویداد</label>
                        <input class="form-control" type="text" name="event_daste" value="{{ type }}" disabled>
                        <label for="event_adder">مدیر رویداد</label>
                        <input type="text" class="form-control" name="event_adder" value="{{ user.username }}" disabled>
                        <label for="event_name">:نام رویداد</label>
                        <input type="text" class="form-control" name="event_name">
                        <label for="genre">زیر دسته رویداد</label>

                        <select class="form-control btn btn-primary dropdown" name="genre">
                            {% for subtype in subtypes %}
                                <option value="{{ subtype.name }}">{{ subtype.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="event_place">:نام محل برگزاری</label>
                        <input type="text" class="form-control" name="event_place">
                        <label for="event_ticket">:تعداد بلیت</label>
                        <input type="text" class="form-control" name="event_ticket">
                        <label for="event_price">:قیمت بلیت</label>
                        <input type="text" class="form-control" name="event_price">
                        <label for="event_datestart">شروع رویداد</label>
                        <br>
                        <script>
                            $(function() {
                                $( "#datepicker" ).datepicker();
                            });
                        </script>
                        <input type="text" id="datepicker" name="datepicker">
                        <br>
                        <label for="event_date">تاریخ اتمام خرید بلیت</label>
                        <br>
                        <script>
                            $(function() {
                                $( "#datepicker1" ).datepicker();
                            });
                        </script>
                        <input type="text" id="datepicker1" name="datepicker1">
                    </div>
                </div>
                <div class="col-xs-5" style="float: right;">
                    <div class="form-group">
                        <label for="event_address">:نشانی محل برگزاری</label>
                        <input type="text" class="form-control" name="event_addr">
                        <br>
                        <label for="event_info"name="info">:توضیحات</label>
                        <textarea class="form-control" rows="5" name="info"></textarea>

                        <label for="event_pic" name="pic">درج تصویر</label>

                        <input id="fileupload" type="file" name="files[]" multiple="">
                    </div>
                    <input type="submit" class="btn btn-success" value="ثبت">
                    <br>
                </div>
            </form>
        </div>
    </section>
    <script>

        /*jslint unparam: true */
        /*global window, $ */
        $(function () {
            'use strict';
// Change this to the location of your server-side upload handler:
            var url = 'D:\Files\CE-Term6\Systems Analysis and Design\SAD\SysRaVi\static\images';
            $('#fileupload').fileupload({
                url: url,
                {#            dataType: 'json',#}
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        $('<p/>').text(file.name).appendTo('#files');
                    });
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                            'width',
                            progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>

    <script>
        $(document).on('ready', function() {
            // the file input
            var $el = $('#file-4'), initPlugin = function() {
                $el.fileinput({
                    uploadUrl: '../static/images/',
                    uploadExtraData: {kvId: '10'},
                    dropZoneEnabled: false
                }).off('filepreupload').on('filepreupload', function() {
                    alert("Initial pre-upload message!");
                });
            };
        });
    </script>
{% endblock body %}
</html>