{% extends "base.html" %}
{%block body%}
    {% load staticfiles %}
    <link href={%  static "css/main.css"%} rel="stylesheet">
    <div class="container farsi-font">
        <style>
            body { background-color: lavender; }
        </style>
        <div class="row" >
            <div class="col-md-3" style="float: right;">
                <p class="lead" style="text-align: right;">رویداد</p>
                <div class="list-group" style="text-align: right;">
                    <a href="#" class="list-group-item active">{{ type }}</a>
                    <a href="#" class="list-group-item">{{ event.sub_type }}</a>
                </div>
            </div>

            <div class="col-md-9" style="float: right;">

                <div class="thumbnail">
                    <img class="img-responsive" src="/static/images/{{ event.picture}}" height="300" width="800" alt="">
                    <div class="caption-full" style="text-align: right;">
                        <h4 class="pull-left farsi-font">{{ event.price }}</h4>
                        <h3 class="farsi-font">{{ event.name }}</h3>
                        <div><h4 class="farsi-font">{{ event.desc }}</h4></div>
                        <h4 class="farsi-font">date: {{ event.date }}</h4>
                        {% if tickets > 0 %}
                            <h4 class="farsi-font" style="color: green">بلیت های موجود {{ tickets }}</h4>
                        {% endif %}
                        {% if tickets == 0 %}
                            <h4 class="farsi-font" style="color: red">بلیت ها به اتمام رسید!</h4>
                        {% endif %}
                    </div>
                    {% if not guest %}
                        {% if tickets > 0 %}
                            <div class="ratings" style="text-align: right;">
                                <div style="float: left;">
                                    <a href="/addtocart/{{ event.id }}/" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>لیست علاقه مندی</a>
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal1">
                                        نهایی کردن خرید

                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <br>
                    <br>

                </div>
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title farsi-font" id="myModalLabel">خرید</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/portal/{{ event.id }}/" method="post">{% csrf_token %}
                                    <label class="farsi-font">تعداد</label>
                                    <br>
                                    <input type="text" name="ticket_num">
                                    <br>
                                    <label class="farsi-font">نوع</label>
                                    <br>
                                    <input type="text" name="type">
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default farsi-font" data-dismiss="modal">لغو</button>
                                        <input type="submit" class="btn btn-success farsi-font" value="خرید">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="well">

                    <div class="text-right farsi-font">
                        {% if not guest %}
                            <form role="form" action="/event/{{ event.id }}" method="post">{% csrf_token %}
                                <div style="text-align: right">{{ username }}</div>
                                <div class="form-group" style="float: right;">
                                    <label for="comment">نظر دادن</label>
                                    <textarea class="form-control" cols="200" rows="3" name="comment"></textarea>
                                </div>
                                <div><input type="submit" class="btn btn-success" value="ثبت نظر"></div>
                                <div class="container">
                                    <div>
                                        <br />
                                        <label for="rate" >امتیاز</label>
                                        <br>
                                        <label><h4>۵/</h4></label>
                                        <select class="btn btn-primary dropdown" name="rate">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12" style="text-align: right;">
                                        {% for i in rate %}
                                            <span class="glyphicon glyphicon-star"></span>
                                        {% endfor %}
                                        {% for i in notrange %}
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        {% endfor %}
                                    </div>
                                    <input type="submit" class="btn btn-success" value="ثبت امتیاز">
                                </div>
                            </form>
                        {% endif %}
                    </div>
                    <br />
                    <div class="panel panel-default farsi-font" style="font-size: 18px">
                        <div class="panel-heading" style="text-align: center;"><h3 class="farsi-font">نظرات</h3></div>
                        <div class="panel-body">
                            {% for comment in comments %}
                                {%if comment != "None"%}
                                    <div class="text-right farsi-font">
                                        {% if comment.user.user.username == None %}
                                            <div style="text-align: right;">مدیریت سایت</div>
                                        {% endif %}
                                        {% if comment.user.user.username != None %}
                                            <div style="text-align: right;">نظر کاربر {{ comment.user.user.username }}</div>
                                        {% endif %}
                                        <div class="form-group" style="float: right;">
                                            <label for="comment"></label>
                                            <textarea class="form-control" cols="200" rows="2" readonly>{{ comment.comment }}</textarea>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock body %}
