{% extends "base.html" %}
{% block body %}
    <style>
        body { background-color: #c5c5c5; }
    </style>
    <section style="padding-top:60px;padding-bottom: 30%;padding-left: 70px">
        <div class="container thumbnail">
            <h2 class="farsi-font" >مدیر رویداد</h2>
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="text-center farsi-font">اضافه کردن رویداد</th>
                    <th class="text-center farsi-font">حذف/ویرایش/مشاهده</th>
                    <th class="text-center farsi-font">تنظیمات</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center"> <div class="dropdown farsi-font">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            افزودن رویداد
                            <span class="caret"></span>
                        </button>
                        <ul id="list" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% for type in types %}
                                <li><a href="/event-add/{{ type.id }}/">{{ type.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div></td>
                    <td class="text-center farsi-font"><button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModal3">لیست رویدادها</button></td>
                    <td class="text-center farsi-font"><a href="/user/{{ id }}/" class="btn btn-default">تنظیمات</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title farsi-font" id="myModalLabel">لیست خریدها</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th class="text-center farsi-font"></th>
                            <th class="text-center farsi-font">نام رویداد</th>
                            <th class="text-center farsi-font">دسته رویداد </th>
                            <th class="text-center farsi-font">زیر دسته رویداد</th>
                            <th class="text-center farsi-font">تاریخ شروع</th>
                            <th class="text-center farsi-font">تاریخ اتمام</th>
                            <th class="text-center farsi-font">رجوع</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td class="text-center farsi-font"><span class="glyphicon glyphicon-star"></span></td>
                                <td class="text-center farsi-font">{{event.name}}</td>
                                <td class="text-center farsi-font">{{event.type}}</td>
                                <td class="text-center farsi-font">{{event.sub_type}}</td>
                                <td class="text-center farsi-font">{{event.date}}</td>
                                <td class="text-center farsi-font">{{event.deadline}}</td>
                                <td class="text-center farsi-font"><a href="/event/{{ event.id }}">{{event.name}}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
