{% extends "base.html" %}
{% load staticfiles %}
<script src={% static "js/jquery-1.11.3.min.js"%}></script>
<script  src={% static "js/bootstrap.min.js" %}></script>
<link rel="stylesheet" href={% static "css/admin.css" %}>
{#<link rel="stylesheet" href={% static "css/main.css" %}>#}
{#<link rel="stylesheet" href={% static "css/footer.css" %}>#}
{#<link rel="stylesheet" href={% static "css/header-search.css" %}>#}
{#<link rel="stylesheet" href={% static "css/header-login-signup.css" %}>#}
{#<link rel="stylesheet" href={% static "css/header-user-dropdown.css" %}>#}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block body %}
    <style>
        body { background-color: #c5c5c5; }
    </style>
    <section style="padding-top:60px;padding-bottom: 30%;padding-left: 70px">
        <div class="container thumbnail">
            <h2 class="farsi-font" >زیردسته ها</h2>
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="text-center">Type</th>
                    <th class="text-center">SubType</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for subtype in subtypes %}
                    <tr>
                        <td class="text-center"><button class="btn btn-primary" disabled>{{type}}</button></td>
                        <td class="text-center"><a href="/my-admin/edit/{{ subtype.sub_type }}/" class="btn btn-default">{{ subtype.name }}</a></td>
                        <td class="text-center"><a href="/my-admin/deleteSubTypes/{{ subtype.sub_type }}/"><input class="btn btn-danger" value="Delete"></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock body %}