{% extends "base.html" %}
{% load staticfiles %}
<script src={% static "js/jquery-1.11.3.min.js"%}></script>
<script  src={% static "js/bootstrap.min.js" %}></script>
<link rel="stylesheet" href={% static "css/admin.css" %}>
<link rel="stylesheet" href={% static "css/footer.css" %}>
<link rel="stylesheet" href={% static "css/header-search.css" %}>
<link rel="stylesheet" href={% static "css/header-login-signup.css" %}>
<link rel="stylesheet" href={% static "css/header-user-dropdown.css" %}>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block body %}
    <style>
        body { background-color: lavender; }
    </style>
    <div class="container">
        <section style="padding-top: 60px;;padding-bottom: 30%">
            <div class="panel panel-default farsi-font" style="font-size: 18px">
                <div class="panel-heading" style="text-align: center;"><h3 class="farsi-font">دسته ها</h3></div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th class="text-center farsi-font">دسته</th>
                            <th class="text-center farsi-font">عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for type in types %}
                            <tr>
                                <td class="text-center farsi-font"><a href="/my-admin/SubTypes/{{ type.id }}/"class="btn btn-default">{{ type.name }}</a></td>
                                <td class="text-center farsi-font"><a href="/my-admin/deleteTypes/{{ type.id }}/" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <div>
                    <br />
                    <div class="panel panel-default farsi-font" style="font-size: 18px">
                        <div class="panel-heading"><h3 class="farsi-font" style="text-align: center;">اضافه کردن دسته و زیردسته</h3></div>
                        <div class="panel-body fieldwrapper">
                            <form action="/my-admin/addTypes/" method="post">{% csrf_token %}
                                <div>
                                    <button class="btn btn-info adder">+</button>
                                    <input type="submit" value="submit" class="btn btn-success">
                                </div>
                                <div id="item"><input class="farsi-font" type="text" name="0" placeholder="دسته"></div>
                            </form>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <script>
                $(document).ready(function() {
                    var max_fields      = 100; //maximum input boxes allowed
                    var wrapper         = $(".fieldwrapper"); //Fields wrapper
                    var add_button      = $(".adder"); //Add button ID

                    var x = -1; //initlal text box count
                    $(add_button).click(function(e){ //on add input button click
                        e.preventDefault();
                        if(x < max_fields){ //max input box allowed
                            x++; //text box increment
                            $("#item").append('<div>SubType'+x+'<input type="text" name='+'"input'+x+'"/><a href="#" class="btn btn-danger remove_field">x</a></div>'); //add input box
                        }
                    });

                    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                        e.preventDefault(); $(this).parent('div').remove(); x--;
                    })
                });
            </script>
        </section>
    </div>
{% endblock body %}